#skillsContents {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 200px;
    border: 2px solid red;
    /* transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1); */
}

#skillsContents #skillsContainer {
    border: 2px solid red;
    padding: 50px;
    width: 70%;
    background-color: #f9f9f97a;
}

#Projects, #Certifications
{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.carousel {
    position: relative;
    width: 80%;
    /* max-width: 1050px;  */
    overflow: hidden;
    background-color: #0041f54e;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    /* border: 2px solid yellow; */
    width: calc(300px * 4);
    min-height: 30vh; /* Adjust for the total number of items */
}

.carousel-item {
    min-width: 300px; /* Width of each item */
    margin-right: 10px;
    min-height: 30vh;
    /* border: 2px solid rgb(255, 0, 0); */
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

/* Navigation buttons */
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}

#skillsContent button:hover {
    background-color: rgba(255, 255, 255, 1);
}

.layout-container {
    border-top: 2px solid rgb(255, 255, 255);
    border-left: 2px solid rgb(255, 255, 255);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* width: 25%; */
    background-color: #a7bbf48d;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 5px 0.5px rgb(49, 48, 48);
    z-index: 20px;
    min-height: 30vh;
  }
  .layout-container:hover {
    cursor: pointer;
    background-color: #f9f9f97e;
    box-shadow: 0px 2px 10px 2px rgb(49, 48, 48);
    transform: scale(1.05);
    transition: 0.3s ease-in-out;
  }
  
  .layout-container a {
    text-decoration: none;
    color: green;
    /* font-size: 30px; */
  }
.layout-container a .projectName {
    font-size: 25px;
    padding-top: 7px;
}
.layout-container a .description {
  /* padding-top: 7px; */
  color: rgb(60, 58, 58);
}
.layout-container img {
    width: 70px;
    height: auto;
}


