.carousel {
    position: relative;
    width: 100%;
    max-width: 1050px; /* Set the width to display 5 items */
    overflow: hidden;
    background-color: #0042f5;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-container {
    display: flex;
    transition: transform 0.5s ease;
    width: calc(200px * 7); /* Adjust for the total number of items */
  }
  
  .carousel-item {
    min-width: 200px; /* Width of each item */
    height: 200px;
    margin-right: 10px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-item img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
  }
  
  /* Navigation buttons */
  button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 24px;
    z-index: 1;
  }
  
  .prev-btn {
    left: 10px;
  }
  
  .next-btn {
    right: 10px;
  }
  
  button:hover {
    background-color: rgba(255, 255, 255, 1);
  }
  