mixin bloghead(active)
    #profileSection     
        #profileImage 
            a(href="./index.html") 
                img(src="/images/welcome.jpg", alt="")
        #profileName 
            a(href="./index.html") Hasana Manandhar
            h2 45m