mixin blogfoot(active)
    #blogFooter 
        .like 
            button(onclick="likePost()")
                img(src="/images/heart.png" alt="")
            span#like-count 0 Likes

        .comment 
            button(onclick="comment()")
                img(src="/images/comment.png" alt="")
            span#comment-count 0 Comments
        .share 
            button(onclick="share()")
                img(src="/images/share.png" alt="")
            span#share-count 0 Shares