mixin blogfoot(active)
    #blogFooter 
        .like 
            img(src="/images/heart.png", alt="")
        .comment 
            img(src="/images/comment.png", alt="")
        .share 
            img(src="/images/share.png", alt="")