mixin header(active)
    header 
        #logo 
            a(href="./index.html") Hasana Manandhar
        #navBar 
            a(href="./index.html") Home 
            a(href="./myGallery.html") My Gallery   
            a(href="./skillsAndEdu.html") Skills and Education 
            a(href="./highlights.html") Highlights