mixin header(active)
    header 
        #navBar 
            a(href="./index.html") Home 
            a(href="#skillsContents") Skills and Education 
            a(href="#galleryContents") My Gallery   
            a(href="#highlightsContents") Highlights