mixin layout(name, href, description)
    .layout-container
        a(href=href)
            .logo 
                img(src="/images/github.png", alt="")
            .projectName= name 
            .description
                h1= description  