html 
    head 
        link(rel="stylesheet" href="https://use.typekit.net/your-kit-id.css")
        link(rel="stylesheet" href="../css/main.css")
        link(rel="stylesheet" href="../css/blog.css")
        title Hasna Portfolio 
    body 
        #background 
            include includes/header
            +header("")
            #Hackademia 
                .Container 
                    .contents 
                        include includes/bloghead
                        +bloghead("") 
                        .blogImage
                            img(src="/images/Winners/1.jpg" alt="")
                        .blogtext 
                            p 
                                h1 HACKADEMIA 2.0
                                |Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat fugiat placeat deleniti, reprehenderit inventore ipsa quasi porro nisi exercitationem perferendis aspernatur nemo ab voluptate, cumque labore. Nisi, dolore. Voluptatem, sed.
                        include includes/blogfooter 
                        +blogfoot("")

            #Kathcode 
                .Container
                    .contents 
                        include includes/bloghead
                        +bloghead("")
                        .blogImage
                                img(src="/images/Winners/3.JPG" alt="")
                        .blogtext 
                            p 
                                h1 KATHCODE 2024
                                |Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat fugiat placeat deleniti, reprehenderit inventore ipsa quasi porro nisi exercitationem perferendis aspernatur nemo ab voluptate, cumque labore. Nisi, dolore. Voluptatem, sed.
                        include includes/blogfooter 
                        +blogfoot("")

            #Hultprize 
                .Container
                    .contents 
                        include includes/bloghead
                        +bloghead("")
                        .blogImage
                                img(src="/images/Winners/4.jpg" alt="")
                        .blogtext 
                            p 
                                h1 HultPrize at KhCE 2024
                                |Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat fugiat placeat deleniti, reprehenderit inventore ipsa quasi porro nisi exercitationem perferendis aspernatur nemo ab voluptate, cumque labore. Nisi, dolore. Voluptatem, sed.
                        include includes/blogfooter 
                        +blogfoot("")
    script(src="/js/blog.js")