html 
    head 
        link(rel="stylesheet" href="https://use.typekit.net/your-kit-id.css")
        link(rel="stylesheet" href="../css/main.css")
        title Hasna Portfolio 
    body 
        #background 
            include includes/header
            +header("")

            #indexContents
                #contentsAll 
                    #leftContents
                        h1 Hi !
                        h3 
                            p I'm Hasana Manandhar, currently studying Bachelors in Computer Engineering at Khwopa College of Engineering.
                        h5 Contact me at
                        #socialMedias a b c d
                    img(src="/images/welcome.png" alt="image")