html 
    head 
        link(rel="stylesheet" href="https://use.typekit.net/your-kit-id.css")
        link(rel="stylesheet" href="../css/main.css")
        link(rel="stylesheet", href="../css/skills.css")
        title Hasna Portfolio 
    body 
        #background 
            include includes/header
            +header("")

            #indexContents
                #contentsAll 
                    #leftContents
                        p 
                            h2
                                i "To be tomorrow is to do today"
                        .photo
                            img(src="/images/welcome.png" alt="image")
                        h1 HASANA MANANDHAR
                        p 
                            h2
                                i I aspire to be a developer who creates innovative, impactful solutions that simplify technology and improve lives.
                        h3 Contact me at
                        #socialMedias 
                            #logo 
                                a(href="https://www.facebook.com/hasana.0123/") 
                                    img(src="/images/fb.png" alt="")
                                a(href="https://www.instagram.com/0_0.cheese0_0/") 
                                    img(src="/images/insta.png" alt="")
                                a(href="https://www.linkedin.com/in/hasana-manandhar-129301261/") 
                                    img(src="/images/linkedin.png" alt="")
                        h3 Phone Number: +977-9999999999
                        h3 Email: manandharhasana07@gmail.com

            #skillsContents 
                #heading
                    |SKILLS AND EDUCATION 
                #skillsContainer 
                    #skills.
                        Languages: C, C++, JavaScript, Python
                    #Certifications 
                        h1 first 
                        h1 second 
                        h1 third
                    #Projects 
                        h1 first 
                        h1 second 
                        h1 third
                    #Education.
                        Bachelors: BCT at KhCE - 2022 - Ongoing   
                        Plus Two: St.Xaviers, Maitighar -2019 - 2021
                        Secondary School: NESS - 2019
            #galleryContents 
                #heading 
                    |MY GALLERY
                h1 Hello all!
                h2 These are the arts I made

                #photos 
                    h1 Pictures
                    h1 Pictures
                    h1 Pictures

            #highlightsContents 
                #heading 
                    |HIGHLIGHTS
                #pictureCollage 
                    #firstRow
                        .wrapper
                            .slideshow Learn More

                    #secondRow
                        .wrapper
                            .c1
                                .slideshow 
                                    a(href="./blog.html#Hackademia")  Hackademia 2.0 
                            .c2
                                .slideshow 
                                    a(href="./blog.html#Kathcode") Kathcode 2024
                            .c3
                                .slideshow 
                                    a(href="./blog.html#Hultprize") HultPrize at KhCE 2024
                    #thirdRow 
                        .wrapper
                            .thirdphoto1
                                .slideshow Learn More 
                            .thirdphoto2 
                                .slideshow Learn More
            #button 
                .topButton
                    a(href="./index.html#indexContents") Go To Top 
    script(src="/js/highlights.js")