html 
    head 
        link(rel="stylesheet", href="../css/main.css")
        title Hasna Portfolio 
    body 
        include includes/header
        +header("")

        #galleryContents 
            h1 Hello all!
            h2 These are the arts I made

            #photos 
                h1 Pictures
                h1 Pictures
                h1 Pictures