html 
    head 
        link(rel="stylesheet", href="../css/main.css")
        title Hasna Portfolio 
    body 
        include includes/header
        +header("")

        #indexContents 
                h1 Hello all!