html 
    head 
        link(rel="stylesheet", href="../css/main.css")
        title Hasna Portfolio 
    body 
        include includes/header
        +header("")

        #skillsContents 
                h1 Skills 
                h1 Certifications 
                h1 Education