doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Carousel with 7 slides
    link(rel="stylesheet" href="../css/test.css")
  body
    h1 Carousel with 7 Slides (5 visible at a time)
    .carousel
      button.prev-btn &lt;
      .carousel-container
        .carousel-item
          img(src="/images/Hackademia/1.jpg" alt="Logo 1")
        .carousel-item
          img(src="/images/Hackademia/2.jpg" alt="Logo 2")
        .carousel-item
          img(src="/images/Hackademia/3.jpg" alt="Logo 3")
        .carousel-item
          img(src="/images/Hackademia/4.jpg" alt="Logo 4")
        .carousel-item
          img(src="/images/Hackademia/5.JPG" alt="Logo 5")
        .carousel-item
          img(src="/images/Hackademia/6.JPG" alt="Logo 6")
        .carousel-item
          img(src="/images/Hackademia/7.JPG" alt="Logo 7")
      button.next-btn &gt;
    script(src="/js/test.js")
